<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GLFWGears.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ISFSandbox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ISFSandboxIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VVGL-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>VVISFKit-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VVISFKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libvvglbase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A23114C1E2D63C700B0EF84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A44D2711E1BF7ED00F48E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB049211DFDFE2500A59A85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB147991E1BDAA80041528E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE1770F1E257DDA00E978E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE1772D1E2580EF00E978E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE1773A1E2580F500E978E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE177621E2581B500E978E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE1776F1E2581BB00E978E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
